In [1]:
# importing libraries
import mysql.connector
import pandas as pd
import numpy as np

In [2]:
# converting csv files into dataframes
df_A = pd.read_csv("APSRTC_bus_details.csv")
df_T = pd.read_csv("TSRTC_bus_details.csv")
df_U = pd.read_csv("UPSRTC_bus_details.csv")
df_SB = pd.read_csv("South_Bengal_bus_details.csv")
df_H = pd.read_csv("HRTC_bus_details.csv")
df_W = pd.read_csv("WBTC_bus_details.csv")
df_R = pd.read_csv("RSRTC_bus_details.csv")
df_K = pd.read_csv("KSRTC_bus_details.csv")
df_BS = pd.read_csv("BSRTC_bus_detais.csv")
df_AS=pd.read_csv("ASTC_bus_detais.csv")

In [4]:
# Combining the individual data frames to a single data frame
combined_df=pd.concat([df_A,df_T,df_U,df_SB,df_H,df_W,df_R,df_K,df_BS,df_AS],ignore_index=True)
combined_df

,Route_Name,Route_link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:10,07h 20m,06:30,4.6,400,24 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:00,07h 30m,06:30,4.5,INR 639,11 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,AC Sleeper (2+1),22:40,08h 05m,06:45,4.6,INR 599,12 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdIntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:45,06h 50m,05:35,4.3,INR 419,18 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Svkdt travels,A/C Sleeper (2+1),22:20,07h 30m,05:50,4.4,INR 589,12 Seats available
...,...,...,...,...,...,...,...,...,...,...
3470,Dhubri to Guwahati,https://www.redbus.in/bus-tickets/dhubri-to-gu...,Yatra,Non AC Seater (2+2),20:15,07h 15m,03:30,2.4,INR 350,39 Seats available
3471,Dibrugarh to Jorhat,https://www.redbus.in/bus-tickets/dibrugarh-to...,Baikuntha Transport Service,Bharat Benz A/C Sleeper (2+1),19:30,03h 45m,23:15,3.1,500,35 Seats available
3472,Dibrugarh to Jorhat,https://www.redbus.in/bus-tickets/dibrugarh-to...,Trishul Transport Service,A/C Seater / Sleeper (2+1),19:30,03h 25m,22:55,3.8,495,28 Seats available
3473,Dibrugarh to Jorhat,https://www.redbus.in/bus-tickets/dibrugarh-to...,Purple Wings Coaches,A/C Seater / Sleeper (2+1),19:55,04h 20m,00:15,5.0,540,19 Seats available
3474,Tezpur to Dibrugarh,https://www.redbus.in/bus-tickets/tezpur-to-di...,Maa Laxmi,NON A/C Seater Push Back (2+1),22:15,07h 15m,05:30,1.8,558,5 Seats available

DATA CLEANING

In [5]:
combined_df.info() # to get the information of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475 entries, 0 to 3474
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         3475 non-null   object
 1   Route_link         3475 non-null   object
 2   Bus_Name           3475 non-null   object
 3   Bus_Type           3475 non-null   object
 4   Departing_Time     3475 non-null   object
 5   Duration           3475 non-null   object
 6   Reaching_Time      3475 non-null   object
 7   Star_Rating        3475 non-null   float64
 8   Price              3475 non-null   object
 9   Seat_Availability  3475 non-null   object
dtypes: float64(1), object(9)
memory usage: 271.6+ KB

In [6]:
combined_df.drop_duplicates(inplace=True) # to remove the duplicates in the data frame

In [7]:
combined_df.isnull().sum() # to get the sum of null values in the data frame

Route_Name           0
Route_link           0
Bus_Name             0
Bus_Type             0
Departing_Time       0
Duration             0
Reaching_Time        0
Star_Rating          0
Price                0
Seat_Availability    0
dtype: int64

In [8]:
# Convert the Price column to string to handle mixed data types
combined_df['Price'] = combined_df['Price'].astype(str)

# Remove 'INR' from the Price column and strip any extra spaces
combined_df['Price'] = combined_df['Price'].str.replace('INR', '').str.strip()

# Convert the cleaned column back to numeric (float)
combined_df['Price'] = pd.to_numeric(combined_df['Price'], errors='coerce')
combined_df['Price'].fillna=0

In [9]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3332 entries, 0 to 3474
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         3332 non-null   object
 1   Route_link         3332 non-null   object
 2   Bus_Name           3332 non-null   object
 3   Bus_Type           3332 non-null   object
 4   Departing_Time     3332 non-null   object
 5   Duration           3332 non-null   object
 6   Reaching_Time      3332 non-null   object
 7   Star_Rating        3332 non-null   float64
 8   Price              3332 non-null   float64
 9   Seat_Availability  3332 non-null   object
dtypes: float64(2), object(8)
memory usage: 286.3+ KB

In [10]:
combined_df_= combined_df[combined_df["Price"] <= 7000]

In [11]:
# replacing the nan value
combined_df =combined_df.replace({np.nan: None})

In [12]:
combined_df.head() # to get the first 5 rows of the data frame

,Route_Name,Route_link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:10,07h 20m,06:30,4.6,400.0,24 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:00,07h 30m,06:30,4.5,639.0,11 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,AC Sleeper (2+1),22:40,08h 05m,06:45,4.6,599.0,12 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdIntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:45,06h 50m,05:35,4.3,419.0,18 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Svkdt travels,A/C Sleeper (2+1),22:20,07h 30m,05:50,4.4,589.0,12 Seats available

In [13]:
combined_df

,Route_Name,Route_link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),23:10,07h 20m,06:30,4.6,400.0,24 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:00,07h 30m,06:30,4.5,639.0,11 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,AC Sleeper (2+1),22:40,08h 05m,06:45,4.6,599.0,12 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdIntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:45,06h 50m,05:35,4.3,419.0,18 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Svkdt travels,A/C Sleeper (2+1),22:20,07h 30m,05:50,4.4,589.0,12 Seats available
...,...,...,...,...,...,...,...,...,...,...
3470,Dhubri to Guwahati,https://www.redbus.in/bus-tickets/dhubri-to-gu...,Yatra,Non AC Seater (2+2),20:15,07h 15m,03:30,2.4,350.0,39 Seats available
3471,Dibrugarh to Jorhat,https://www.redbus.in/bus-tickets/dibrugarh-to...,Baikuntha Transport Service,Bharat Benz A/C Sleeper (2+1),19:30,03h 45m,23:15,3.1,500.0,35 Seats available
3472,Dibrugarh to Jorhat,https://www.redbus.in/bus-tickets/dibrugarh-to...,Trishul Transport Service,A/C Seater / Sleeper (2+1),19:30,03h 25m,22:55,3.8,495.0,28 Seats available
3473,Dibrugarh to Jorhat,https://www.redbus.in/bus-tickets/dibrugarh-to...,Purple Wings Coaches,A/C Seater / Sleeper (2+1),19:55,04h 20m,00:15,5.0,540.0,19 Seats available
3474,Tezpur to Dibrugarh,https://www.redbus.in/bus-tickets/tezpur-to-di...,Maa Laxmi,NON A/C Seater Push Back (2+1),22:15,07h 15m,05:30,1.8,558.0,5 Seats available

In [14]:
combined_df.to_csv("combined_bus_details.csv",index=False) # to save the data frame to a csv file

In [23]:
#sql connection
conn = mysql.connector.connect(host="localhost", user="root", password="simi")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS REDBUSINFO")
conn.database = 'REDBUSINFO'

In [24]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS busdata1(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Route_name VARCHAR(250) NULL,
                  Route_link VARCHAR(250) NULL,
                  Bus_name VARCHAR(250) NOT NULL,
                  Bus_type VARCHAR(250) NOT NULL,
                  Departing_time VARCHAR(250) NOT NULL,
                  duration VARCHAR(250) NOT NULL,
                  Reaching_time VARCHAR(250) NOT NULL,
                  Star_Rating FLOAT NULL,
                  Price Float NOT NULL,
                  Seat_Availability VARCHAR(250) NOT NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [25]:
# SQL query to insert data into Bus_data table
insert_query = '''INSERT INTO busdata1(
                    Route_name,
                    Route_link,
                    Bus_name,
                    Bus_type,
                    Departing_time,
                    duration,
                    Reaching_time,
                    Star_Rating,
                    Price,
                    Seat_Availability
                )
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

# Convert DataFrame to list of lists
data = combined_df.values.tolist()





try:
    my_cursor.executemany(insert_query, data)
    conn.commit()
    print("Data inserted successfully.")
except Exception as e:
    conn.rollback()  # Roll back if there is any error
    print(f"An error occurred: {e}")



print("Values inserted successfully")

Data inserted successfully.
Values inserted successfully